{% extends "app_empresa/base.html" %}

{% block title %}SafeIndustry - Listar Empresas{% endblock title %}

{% block content %}
<div class="container">
    <div class="container-header">
        <h1>Criar Empresa</h1>
    </div>

    <div class="container-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-line">
                <label for="nome">Nome da empresa:</label>
                <input name="nome" type="text" value="{{nome}}" required>
            </div>
            <div class="form-line">
                <label for="cnpj">CNPJ:</label>
                <input name="cnpj" type="text" value="{{cnpj}}" required>
            </div>
            <div class="form-line">
                <label for="email">Nome da empresa:</label>
                <input name="email" type="email" value="{{email}}" required>
            </div>
            <div class="form-line">
                <label for="telefone">Telefone:</label>
                <input name="telefone" type="text" value="{{telefone}}" required>
            </div>
            <button type="submit">Criar</button>
        </form>
    </div>

</div>


{% endblock content %}